.tituloxparrafo{
  display: flex;
  flex-direction: column;
}
.bartop{
  --background:#00bbfe ;
}
.btn-tucuenta{
  --background:#00ccff ;
}

.topbarelementos{
  display: flex;
  align-items: center;
}
.xd{
  padding-top: 10px;
  margin-left: 10px;
}
.color-blanco{
  color: white;
}
