
<ion-footer >
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button layout="icon-top" [ngClass]="{ 'active-button': isFolderRoute() }" [routerLink]="['/folder']">
          <ion-icon name="storefront"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-tab-button>

        <ion-tab-button   layout="icon-top"[ngClass]="{ 'active-button': isCarroRoute() }" [routerLink]="['/folder/carro']">
          <ion-icon name="cart" mat-raised-button
          matBadge="8" matBadgePosition="before" matBadgeColor="accent" ></ion-icon>
          <ion-label>Carro</ion-label>
        </ion-tab-button>

 
          <ion-tab-button  layout="icon-top" *ngIf="isUserLoggedIn()" [ngClass]="{ 'active-button': isComprasRoute() }" [routerLink]="['/perfil/mis-compras']">
            <fa-icon icon="bag-shopping" size="2xl" ></fa-icon>
            <ion-label>Mis compras</ion-label>
          </ion-tab-button>

          <ion-tab-button  layout="icon-top" *ngIf="isUserLoggedIn()" [ngClass]="{ 'active-button': isPerfilRoute() }" [routerLink]="['/perfil']">
            <ion-icon name="person"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-tab-button>
        
          <ion-tab-button  layout="icon-top"*ngIf="!isUserLoggedIn()" [ngClass]="{ 'active-button': isRRoute() }" [routerLink]="['/registrarse']">
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Registrarse</ion-label>
          </ion-tab-button>
          <ion-tab-button  layout="icon-top" *ngIf="!isUserLoggedIn()"[ngClass]="{ 'active-button': isPRoute() }" [routerLink]="['/login']">
            <ion-icon name="person"></ion-icon>
            <ion-label>Iniciar sesion</ion-label>
          </ion-tab-button>
        
 
    
        
    
        


       

        
    
        
      </ion-tab-bar>
    
    </ion-tabs>
  
  </ion-toolbar>
</ion-footer>