<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/bodega']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>

        <h1 class="color-blanco">Editar bodega </h1>

      </div>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>

  <form [formGroup]="bodegaForm"  (ngSubmit)="onFormSubmit(bodegaForm.value)">
    <ion-item class="bg-gris bold">
      <h3>Nombre de bodega</h3>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="bodega.nombre"placeholder="Ingresar nombre"  formControlName="bodega_nombre"></ion-input>
    </ion-item>
      <ion-item class="bg-gris bold">
      <h3>Estado de la bodega</h3>
    </ion-item>
    <ion-item>
      <ion-select formControlName="bodega_activo"  [(ngModel)]="bodega.actived"
      label="Selecciona un estado" 
      cancelText="Cancelar" 
      okText="Aceptar">
        <ion-select-option value=1>Habilitar</ion-select-option>
        <ion-select-option value=0>Deshabilitar</ion-select-option>
      </ion-select>
    </ion-item>
      <ion-item>
      <ion-label> La bodega esta {{ bodega.actived ? 'habilitado' : 'deshabilitado' }}</ion-label>
      </ion-item>

    <ion-button type="submit"  color="azul" expand="block" [disabled]="!bodegaForm.valid">Guardar editado</ion-button>
  </form>
</ion-card>

</ion-content>

<footer-menu></footer-menu>

