<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/genero']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>

        <h1 class="color-blanco">Agregar nuevo género </h1>

      </div>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>

  <form [formGroup]="generoForm" (ngSubmit)="onFormSubmit(generoForm.value)">
    <ion-item class="bg-gris bold">
      <h3>Nombre de género</h3>
    </ion-item>
    <ion-item>

      <ion-input type="text" placeholder="Ingresar nombre" [(ngModel)]="genero.name" formControlName="prod_name"></ion-input>
    </ion-item>


    <ion-button type="submit" color="azul" expand="block"
      [disabled]="!generoForm.valid">Guardar</ion-button>
  </form>
</ion-card>

</ion-content>

<footer-menu></footer-menu>
