


.buscador{
  --background:#00bbfe ;
}
.btn-agregar{
  color:#00bbfe ;

}
.div-agregar{
  --background:#a0dff6 ;

}
.btn-completo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btnAñadir{
  color:white;

}
.ion-color-azul {
  --ion-color-base: var(--ion-color-azul);
  --ion-color-base-rgb: var(--ion-color-azul-rgb);
  --ion-color-contrast: var(--ion-color-azul-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
  --ion-color-shade: var(--ion-color-azul-shade);
  --ion-color-tint: var(--ion-color-azul-tint);
}











