<header-menu></header-menu>


<ion-content>
  <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)">    
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required [(ngModel)]="usuario" formControlName="usuario"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Coodigo</ion-label>
      <ion-input type="text" required [(ngModel)]="coodigo" formControlName="coodigo"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" required [(ngModel)]="clave" formControlName="clave"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Confirmar Clave</ion-label>
      <ion-input type="password" required [(ngModel)]="confirmarclave" formControlName="confirmarclave"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" >Confirmar</ion-button>

      </ion-col>
    </ion-row>
  </form>

  


</ion-content>
<footer-menu></footer-menu>
