<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/empleado']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>

        <h1 class="color-blanco">Editar Empleado  </h1>

      </div>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <form [formGroup]=" empleadoForm"  (ngSubmit)="onFormSubmit(empleadoForm.value)">

        <ion-item class="bg-gris bold">
          <h3>Rut Empleado</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.rut" formControlName="emp_rut"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Dv</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.dv" formControlName="emp_dv"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Nombre</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.nombre" formControlName="emp_nombre"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Apellido Paterno</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.appaterno" formControlName="emp_appaterno"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Apellido Materno</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.apmaterno" formControlName="emp_apmaterno"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Correo</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.email" formControlName="emp_email"></ion-input>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Empleado Teléfono</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.telefono" formControlName="emp_telefono"></ion-input>
        </ion-item>



        <ion-item class="bg-gris bold">
          <h3>Empleado Sueldo</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.sueldo" formControlName="emp_sueldo"></ion-input>
        </ion-item>


        <ion-item class="bg-gris bold">
          <h3>Empleado Fecha Nacimiento</h3>
        </ion-item>
        <ion-item>
          <ion-input type="text" [(ngModel)]="empleado.fechaNacimiento" formControlName="emp_fechaNacimiento"></ion-input>
        </ion-item>



        <ion-item class="bg-gris bold">
          <h3>Género</h3>
        </ion-item>
        <ion-item>
            <ion-item>
            <ion-select [(ngModel)]="empleado.genero" formControlName="emp_genero"cancelText="Cancelar" okText="Aceptar" label="Genero">
              <ion-select-option *ngFor="let genero of listagenero" [value]="genero.id">
                {{ genero.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>

        <ion-item class="bg-gris bold">
          <h3>Cargo</h3>
        </ion-item>
        <ion-item>
        <ion-item>
          <ion-select [(ngModel)]="empleado.cargo"  formControlName="emp_cargo"  cancelText="Cancelar" okText="Aceptar" label="Cargo">
            <ion-select-option *ngFor="let cargo of listacargo" [value]="cargo.id">
              {{ cargo.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item>
      <ion-button type="submit"  color="azul" expand="block" [disabled]="!empleadoForm.valid">Guardar cambios</ion-button>


    </form>
  </ion-card>
  
  </ion-content>
  


<footer-menu></footer-menu>
