  <ion-header [translucent]="true"class="bartop">
    <ion-toolbar class="bartop">
      <ion-buttons slot="start">
        <ion-icon name="person-circle-sharp" size="large"></ion-icon>

        <ion-label color="light" >Hola Alexander</ion-label>

        <ion-back-button defaultHref="/"></ion-back-button>

      </ion-buttons>

      <ion-buttons slot="end">
        <ion-tab-button class="btn-tucuenta">
          <ion-label color="light">Tu cuenta</ion-label>
        </ion-tab-button>

      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card   >
          <ion-card-content class="center-content">
            <ion-grid class="jcspace">
              <ion-row >
              
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="id-card" style="color: #19aeff;" size="2xl" ></fa-icon>

                  </div>
                  Perfil
                </ion-col>
  
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="boxes-stacked" style="color: #19aeff;" size="2xl" ></fa-icon>

                  </div>
                  Historial
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="map"></ion-icon>
                  </div>
                  Direcciones
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="card"></ion-icon>
                  </div>
                  Tarjetas
                </ion-col>
               
              </ion-row>
            </ion-grid>
            
    
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card   >
          <ion-card-content class="center-content">
            <ion-grid class="jcspace">
              <ion-row >
              
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="people"></ion-icon>
                  </div>
                  Usuarios
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="people"></ion-icon>
                  </div>
                  Clientes
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="people"></ion-icon>
                  </div>
                  Personas
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="people-group" style="color: #19aeff;" size="2xl" ></fa-icon>
                  </div>
                  Empleados
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="building" style="color: #19aeff;" size="2xl" ></fa-icon>

                  </div>
                  Proveedores
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="hammer"></ion-icon>
                  </div>
                  Cargos
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="male-female"></ion-icon>
                  </div>
                  Generos
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="map-pin" style="color: #19aeff;" size="2xl" ></fa-icon>

                  </div>
                  Sucursales
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="warehouse" style="color: #19aeff;" size="2xl" ></fa-icon>
                  </div>
                  Bodegas
                </ion-col>
              </ion-row>
            </ion-grid>
            
    
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card   >
          <ion-card-content class="center-content">
            <ion-grid class="jcspace">
              <ion-row >
              
              
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="cube"></ion-icon>
                  </div>
                  Productos
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="filter"></ion-icon>
                  </div>
                  Categorias
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="menu"></ion-icon>
                  </div>
                  Marcas
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="apps"></ion-icon>
                  </div>
                  Atributos
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="receipt"></ion-icon>
                  </div>
                  Boletas
                </ion-col>
                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <fa-icon icon="truck-arrow-right" style="color: #19aeff;" size="2xl" ></fa-icon>
                  </div>
                  Pedidos
                </ion-col>  



                <ion-col class="icon-column">
                  <div class="circle-icon">
                    <ion-icon size="large" name="reader"></ion-icon>
                  </div>
                  Facturas
                </ion-col>


              </ion-row>
            </ion-grid>
            
    
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer >
  <ion-toolbar >
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button  layout="icon-top">
          <ion-icon name="storefront"></ion-icon>
          <ion-label>Tienda</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  layout="icon-top">
          <ion-icon name="cart"></ion-icon>
          <ion-label>Carro</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  layout="icon-top">
          <ion-icon name="document"></ion-icon>
          <ion-label>Historial</ion-label>
        </ion-tab-button>
    
        <ion-tab-button  layout="icon-top">
          <ion-icon name="person"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    
    </ion-tabs>
  
  </ion-toolbar>
</ion-footer>