


ion-searchbar {
  --background: white;
  --border-radius: 5px;
  --placeholder-color: #fff;
  --input-padding-start: 10px;
  --input-padding-end: 10px;
  --searchbar-icon-color: #fff;


  --searchbar-input-border-color: #FF6200;
}





.topbarelementos{
  display: flex;
  align-items: center;
}

.color-blanco{
  color: white;
}
.buscador{
  --background:#00bbfe ;
}
.divbuscador{ 
  display: flex;
}



.product-description {
  max-height: 1em; 
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em; 
}



.div-imagen img {
    width: auto;
    height: 100%; 
    max-width: 100;
  }





  .custom-product-card {
    width: 200px;
    border: 1.5px solid #e3e3e3 ;
    border-bottom-color:white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow:  border-box; 
} 
.margin-top10{
  margin-bottom: 6%;
}
  



.custom-product-card {
  width: 100%; 
  max-width: 300px; 
  margin: 0 auto; 
}

.div-imagen img {
  width: 100%;
  height: auto; 
  max-width: 100%;
}

.product-description {
  max-height: 2.4em;
}

@media only screen and (min-width: 600px) {
  .custom-product-card {
    width: 250px;
  }
}

@media only screen and (min-width: 900px) {
 
  .custom-product-card {
    width: 300px;
  }
}











