.circle-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #00a273;
  }

  .circle-icon ion-icon {
    color:#ffffff; 
    font-size: 120px;
  }

  .icon-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .danger{
    background-color: #00a273;

  }
  .white{
    color:white;
    font-size: 40px;

  }

  .bg-grisclaro{
    --background: #b1b1b1;

  }