<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">


        <h1 class="color-blanco"> Has finalizado </h1>

      </div>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="danger ">

  <ion-col class="icon-column">
    <div class="circle-icon">
      <ion-icon  name="checkmark-circle"></ion-icon>

    </div>
    <h6 class="bold white"  size="large">Compra realizada</h6>

  </ion-col>
</div>





</ion-content>

<footer-menu></footer-menu>
