<header-menu>
  
</header-menu>
<ion-toolbar class="buscador">
  <ion-searchbar placeholder="Buscador" animated (ionChange)="searchBodegas($event)"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">
 
  <ion-card  *ngFor="let bode of searchBodega" [routerLink]="['/perfil/bodega/edit',bode.id]">

    <ion-item class="bg-gris bold">
      <h6>{{ bode.nombre }}</h6>
    </ion-item>    

    <ion-item>
          <h6>Modificado: {{ bode.edited|date:"d/MM/Y H:mm:s" }}</h6> 
    </ion-item>

    <ion-item>
          <h6>Creado: {{ bode.created|date:"d/MM/Y H:mm:s" }}</h6> 
    </ion-item>
  </ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="azul">
    <ion-icon name="add" [routerLink]="['/perfil/bodega/add']"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<footer-menu></footer-menu>

