<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Proveedor</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-icon name="cart"size="large" color="primary"[routerLink]="['/carrito']" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-content>
    <ion-list>
      <!-- Campo para el nombre de la dirección -->
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>

      <!-- Campo para la numeración de la dirección -->
      <ion-item>
        <ion-label position="floating">Empresa</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Articulo</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>


      <!-- Campo para la comuna de la dirección -->
      <ion-item>
        <ion-label position="floating">Telefono</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Selecciona una imagen:</ion-label>
        <ion-input type="file"></ion-input>
      </ion-item>

    </ion-list>


    <!-- Botón para guardar la dirección -->
    <ion-button expand="full" >Guardar</ion-button>
  </ion-content>


</ion-content>
