
<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <h1 class="color-blanco">Iniciar sesión </h1>
        </div>


      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
 
   
  <br>
  <br>
  <br>
  <br>
  <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)">    
    <ion-item lines="full">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" required [(ngModel)]="usuario" formControlName="usuario"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Clave</ion-label>
      <ion-input type="password" required [(ngModel)]="clave" formControlName="clave"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block" >Iniciar</ion-button>
        <ion-button [routerLink]="['/recuperarclave']"  color="medium" expand="block">¿Olvidaste tu contraseña?</ion-button>

      </ion-col>
    </ion-row>
  </form>

  
  <ion-row class="social-buttons">
    <ion-col size="6">
      <ion-button type="submit" color="warning" expand="block" name="logo-google">
        <ion-icon name="logo-google"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button type="submit" color="primary" expand="block" name="logo-facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>


<footer-menu></footer-menu>
