<header-menu>
  
</header-menu>
<ion-toolbar class="buscador">
  <ion-searchbar placeholder="Buscador" animated (ionChange)="searchBodegas($event)"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true">
 
  <ion-card  *ngFor="let bode of searchBodega" [routerLink]="['/perfil/bodega/edit',bode.id]">
    <ion-item class="bg-gris bold">
      <h3>Nombre de la bodega</h3>
    </ion-item>  
    <ion-item >
      <h6>{{ bode.nombre }}</h6>
    </ion-item>  

    <ion-item class="bg-gris bold">
      <h3>Dirección</h3>
    </ion-item>  
    <ion-item >
      <h6>{{ bode.direccion }}, #{{ bode.numeracion }},{{ bode.ciudad_nombre }} </h6>
    </ion-item>  
  </ion-card>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="azul">
    <ion-icon name="add" [routerLink]="['/perfil/bodega/add']"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<footer-menu></footer-menu>

