<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/direcciones']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>
        <h1 class="color-blanco">Añadir nueva dirección </h1>

      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="direccionForm" (ngSubmit)="onFormSubmit(direccionForm.value)">

  <ion-card>

    <ion-item class="bg-gris bold">
      <h3>Nombre de la calle</h3>
    </ion-item>

    <ion-item >
      
      <ion-input type="text" placeholder="Ingresar nombre" [(ngModel)]="direccion.calle" formControlName="dir_calle"></ion-input>
    </ion-item>

    <ion-item class="bg-gris bold">
      <h3>Número</h3>
    </ion-item>

    <ion-item >
      <ion-input type="text" placeholder="Ingresar numeración" [(ngModel)]="direccion.numero" formControlName="dir_numero"></ion-input>
    </ion-item>

    <ion-item class="bg-gris bold">
      <h3>Región</h3>
    </ion-item>
    <ion-item>
      <ion-label>Región:</ion-label>
      <ion-select formControlName="selectedRegion"  (ionChange)="filtrarCiudades()" 
        label="Selecciona una Región" 
        cancelText="Cancelar" 
        okText="Aceptar">
        <ion-select-option *ngFor="let region of regiones" [value]="region.id">{{ region.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="bg-gris bold">
      <h3>Comuna</h3>
    </ion-item>
    <ion-item>
      <ion-label>Ciudad:</ion-label>
      <ion-select formControlName="selectedCiudad" [(ngModel)]="direccion.ciudad"
        label="Selecciona una comuna" 
        cancelText="Cancelar" 
        okText="Aceptar">
        <ion-select-option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad.id">{{ ciudad.nombre }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit"  color="azul" expand="block" 
    [disabled]="!direccionForm.valid">Guardar nueva direccion</ion-button>
  </ion-card>


 
  
  </form>
</ion-content>


<footer-menu></footer-menu>
