<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listar Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-icon name="cart"size="large" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item *ngFor="let user of usuarios" [routerLink]="['/perfil/usuarios/detail',user.rut]">
      <ion-label>

        <p>Nombres: {{ user.nombre}}</p>
       
        <p>Email: {{ user.email}}</p>
  
      </ion-label>
    
      <ion-button id="present-alert">Deshabilitar</ion-button>
      <ion-alert
        trigger="present-alert"
        header="Alerta"
        subHeader="estas seguro "
        message="realmente seguro!"
        [buttons]="alertButtons"
      ></ion-alert>


        <ion-button name="create" href="perfil/usuarios/edit/{{user.rut}}">EDITAR</ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/perfil/usuarios/add']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
