<header-menu>
  
</header-menu>

<ion-toolbar class="buscador">
  <ion-searchbar  placeholder="Buscar por nombre" animated (ionChange)="searchClientes($event)" ></ion-searchbar>
</ion-toolbar>


<ion-content [fullscreen]="true" >

  <ion-card  c *ngFor="let cliente of searchCliente" [routerLink]="['/perfil/clientes/detail',cliente.rut]">

    
    <ion-label>
      
        <ion-item class="bg-gris bold">
          <h6>{{ cliente.nombre }}
            {{ cliente.appaterno }}
            {{ cliente.apmaterno }}</h6>
        </ion-item>    
    
        <ion-item>
              <h6>RUT: {{ cliente.rut }}-{{ cliente.dv }}</h6> 
        </ion-item>
    
        <ion-item>
              <h6>Correo: {{ cliente.email }}</h6> 
        </ion-item>
  
    </ion-label>

  </ion-card>

</ion-content> 

<footer-menu></footer-menu>