<header-menu>
  
</header-menu>

<ion-toolbar class="buscador">
  <ion-searchbar  placeholder="Buscar por nombre" animated (ionChange)="searchClientes($event)" ></ion-searchbar>
</ion-toolbar>


<ion-content >

  <ion-card  class="border" *ngFor="let cliente of searchCliente" [routerLink]="['/perfil/clientes/detail',cliente.rut]">

    
      
      <ion-item class="bg-gris bold">
        <h6>NOMBRE COMPLETO
          </h6>
      </ion-item> 
        <ion-item >
          <h6>{{ cliente.nombre }}
            {{ cliente.appaterno }}
            {{ cliente.apmaterno }}</h6>
        </ion-item>    

        <ion-item class="bg-gris bold">
          <h6>NOMBRE DE USUARIO
            </h6>
        </ion-item> 
        <ion-item >
          <h6>{{ cliente.usuario }}
            </h6>
        </ion-item> 
    

        <ion-item class="bg-gris bold">
          <h6>RUT
            </h6>
        </ion-item> 
        <ion-item>
              <h6> {{ cliente.rut }}-{{ cliente.dv }}</h6> 
        </ion-item>
    



        
  

  </ion-card>

</ion-content> 

<footer-menu></footer-menu>