<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sucursales</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
      <ion-icon name="cart"size="large" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscador" animated (ionChange)="searchSucursales($event)"></ion-searchbar>
 
  </ion-toolbar>

  <ion-list>
    
  <ion-item *ngFor="let suc of searchSucursal" [routerLink]="['detail/',suc.id]">
   
    <ion-label>
      <h2>{{ suc.nombre }}</h2>
      <h2>Creado: {{ suc.created|date:"d/M/Y H:m:s" }}</h2>
      <h2>Modificado: {{ suc.edited|date:"d/M/Y H:m:s" }}</h2>


      
    </ion-label>

      <ion-icon name="lock-closed-outline"></ion-icon>

      <ion-icon name="create" [routerLink]="['/perfil/sucursal/edit',suc.id]">EDITAR</ion-icon>
  </ion-item>
</ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add" [routerLink]="['/perfil/sucursal/add']"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>


<footer-menu></footer-menu>
