<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/cuenta']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>

        <h1 class="color-blanco">Editar datos </h1>

      </div>
    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="clienteForm"  (ngSubmit)="onFormSubmit(clienteForm.value)">
    <div class="padding-top-5">
      <ion-thumbnail style="width: 150px; height: 150px; margin: auto; overflow: hidden; border-radius: 50%;">
        <ion-img [src]="cliente.foto"></ion-img>
      </ion-thumbnail>
      <div class="custom-file-upload" style="text-align: center; margin-top: 10px;">
        <label>
          <ion-icon name="cloud-upload-outline"></ion-icon> Cambiar foto
          <input type="file" (change)="onFileChange($event)" accept="image/*">
        </label>
      </div>
    </div>
    

  <ion-card>  

  <ion-item class="bg-gris bold">
    <h3>RUT</h3> 

  </ion-item>

  <ion-item >
    <h6> {{ cliente.rut }}- {{ cliente.dv }}</h6> 

  </ion-item>

  <ion-item class="bg-gris bold">
    <h3>Nombres</h3> 

  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="cliente.nombre" placeholder="Ingresar nombres"  formControlName="cliente_nombres"></ion-input> 
  </ion-item>

  <ion-item class="bg-gris bold">
    <h3>Apellido paterno</h3> 

  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="cliente.appaterno" placeholder="Ingresar apellido paterno"  formControlName="cliente_appaterno"></ion-input> 

  </ion-item>
  <ion-item class="bg-gris bold">
    <h3>Apellido materno</h3> 

  </ion-item>
  <ion-item>
    <ion-input type="text" [(ngModel)]="cliente.apmaterno" placeholder="Ingresar apellido materno"  formControlName="cliente_apmaterno"></ion-input> 

  </ion-item>

  <ion-item class="bg-gris bold">
    <h3>Correo electrónico</h3>
  </ion-item>

  <ion-item >
    <ion-input type="text" [(ngModel)]="cliente.email" placeholder="Ingresar correo electrónico"  formControlName="cliente_email"></ion-input> 


  </ion-item>

  <ion-item class="bg-gris bold">
    <h3>Teléfono</h3>
  </ion-item>

  <ion-item >
    <ion-input type="text" [(ngModel)]="cliente.telefono" placeholder="Ingresar telefono"  formControlName="cliente_telefono"></ion-input> 

  </ion-item>
  <ion-item class="bg-gris bold">
    <h3>Género</h3>
  </ion-item>
  <ion-item>
    <ion-label>Géneros:</ion-label>
    <ion-select formControlName="cliente_genero"  [(ngModel)]="cliente.genero"
      label="Seleccione su género" 
      cancelText="Cancelar" 
      okText="Aceptar">
      <ion-select-option *ngFor="let genero of generos" [value]="genero.id">{{ genero.name }}</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-button type="submit"  color="azul" expand="block" [disabled]="!clienteForm.valid">Guardar cambios</ion-button>


</ion-card>
</form>

</ion-content>




<footer-menu></footer-menu>
