<ion-header [translucent]="true"class="bartop">
  <ion-toolbar class="bartop">
    <ion-buttons slot="start" >
      <div class="topbarelementos">
        <div class="xd"  >

          <ion-icon [routerLink]="['/perfil/stock/']" color="light" name="arrow-back" size="large"></ion-icon>
        </div>
        <h1 class="color-blanco">Stock por producto</h1>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let producto of productos"   [routerLink]="['/perfil/stock/producto/detalle/', producto.producto_info.id]"  >
        <ion-card>
          <img [src]="producto.producto_info.fotos[0]" alt="producto-imagen" />
          <ion-card-header>
            <ion-card-title class="ion-text-wrap ion-text-center">{{ recortarTitulo(producto.producto_info.nombre, 18) }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Cantidad: {{ producto.producto_total }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<footer-menu></footer-menu>
