.bartop{
  --background:#00bbfe ;
}
.btn-tucuenta{
  --background:#00ccff ;
}

.topbarelementos{
  display: flex;

}
.xd{
  padding-top: 15px;
  margin-left: 10px;
}
.color-blanco{
  color: white;
 
}
.titulopls{
  margin-right:10px;
  padding-top: 21px;
}
.buscador{
  --background:#00bbfe ;
}
  
.padding-top-5{
  margin-top:20px;
  margin-bottom:20px;


 
}
  
  .miDiv{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 5%;
    justify-content:space-around;
    border: 1px solid rgb(200, 200, 200);
    align-items: center;
  
  }
  
  .buscador{
    --background:#00bbfe ;
  }
  .btn-agregar{
    color:#00bbfe ;
  
  }
  .div-agregar{
    --background:#a0dff6 ;
  
  }
  .btn-completo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  
  .width20{
    width: 20%;
  
  }
  .width80{
    width: 80%;
    
  }
  .bg-gris{
    --background: #dedede;
  }
  .bold{
    font-weight: bold;
  }


  

  